@charset "UTF-8";
@font-face {
    font-family:"Android";
    src: url("./fontes/idroid.otf") format("opentype");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "Bebas";
    src: url(fontes/BebasNeue-Regular.ttf) format("truetype");
    font-size: normal;
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4: #1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas';
    --fonte-android: "Android", cursive;


}
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: var(--cor0);
    margin: 0px;
    font-family: var(--fonte-padrao);
    
}
header {
    font-family: var(--fonte-destaque);
    min-height: 150px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    
}
header > p{
    font-size: 14px;
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}

header > h1{

    text-shadow: 2px 2px 2px rgba(0, 128, 0, 0.803);
    color:white;
    margin-bottom: 20px;
    font-size: 3em;

}

header > a {
    text-align: left;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2 {

    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor3), transparent);
}   

main p{
    margin: 10px 0px;
    padding-bottom: 5px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}
img{
    width: 100%;
    margin: auto;
}
img#pequena{
    max-width: 350px;
    display: block
    
}
nav{
    text-align: left;
    background-color:var(--cor5);
    padding-bottom: 3px;
    border: 1px transparent;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.211);
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
    padding: 2px px 2px 5px;
    margin-left: 10px;
}
nav > a:hover {
    text-decoration: underline;
    background-color:var(--cor3);
    border: 1px solid --cor1;
    color: var(--cor5);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--cor5);;
}


h2{
    color: #1A5C38;
}
h3 {
    color: white; 
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor5);
    margin: -10px -10px 0px -10px;;
    padding: 5px;
    
    
}
div{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 50%;
    position: relative;
}
div iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}
aside a {
    color: var(--cor5);
    font-weight: bold;
}
main a::after{
    content: "\1F517";
}
aside > ul{
    list-style-type: none;
    columns: 2;
}

footer{
    text-align: center;
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    font-family: var(--fonte-padrao);
    padding: 2px;
}
footer a:hover{
    text-decoration: underline;

}